#root {
  height: 100%;
}

html,
body {
  height: 100%;
  // background-color: #f5f5f5;
  background-color: #f5f5f5;
  color: #2c2f33;
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bitter", serif;
}

.purplebttn {
  border: 0;
  background-color: #516fd6;
  color: ghostwhite;
  &:hover {
    background-color: #7289da !important;
  }
  &:active {
    background-color: #7289da !important;
  }
  &:disabled {
    background-color: #99aab5 !important;
  }
}

// removes blue glow on some elements
input {
  outline: none;
  box-shadow: none !important;
  border: 1px solid #ccc !important;
}

button {
  outline: none;
  box-shadow: none !important;
  border: 0px !important;
}

textarea,
select {
  outline: none;
  box-shadow: none !important;
  border: 1px solid #ccc !important;
}
