.auditItem {
  background-color: white;
  &:hover {
    background-color: gainsboro;
  }
}

.clientAbbr {
  font-weight: 700;
  color: #2c2f33;
}

.auditYear {
  font-weight: 700;
  color: #7289da;
}

.description {
  color: #2c2f33;
}
