.dropdownitem {
  &.active {
    background-color: #7289da !important;
    color: ghostwhite !important;
  }
  &:focus {
    background-color: #516fd6 !important;
    color: ghostwhite !important;
  }
}
