#navStyle {
  background-color: #2c2f33 !important;
  width: 247px;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

#navLogo {
  font-family: Saira Stencil One;
  color: #7289da;
  font-size: 50px;
  padding: 0;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  &:hover {
    color: #879adf;
  }
}

#logoDivider {
  margin-top: 0px;
  width: 100%;
  background-color: gray !important;
}

.navLink {
  color: #99aab5 !important;
  &:hover {
    color: ghostwhite !important;
  }
  &.active {
    color: ghostwhite !important;
  }
  &.bottom {
    color: #7289da !important;
  }
}
