#navStyle {
  background-color: #23272a !important;
  width: 300px;
}

#navLogo {
  font-family: Saira Stencil One;
  color: #7289da;
  font-size: 50px;
  padding: 0;
}

.navLink {
  color: rgba(255, 255, 255, 0.5) !important;
  &:hover {
    color: ghostwhite;
  }
}
