#navbarStyle {
  background-color: #23272a !important;
  color: ghostwhite;
}

#navbarLogo {
  font-family: Saira Stencil One;
  color: #7289da;
  font-size: 38px;
  padding: 0;
  &:hover {
    color: #8197e4;
  }
}
